<!DOCTYPE html>
<html>
<head>
<title>Filer</title>
<meta charset="UTF-8">
{{ dropzone.load_css() }}
{{ dropzone.style('border: 2px dashed #0087F7; min-height: 10px;') }}
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
{{ dropzone.load_js() }}
<h1>Kanzlei Hubrig – Dokumenten-Austausch</h1>
{%- if admin %}
<a href="/admin">Zurück zur Übersicht</a>
{% endif -%}
<h2>Dokumente</h2>
<ul>
{%- for item in tree.children recursive %}
    <li><form action="/{{admin}}{{ item.name }}" method="post" style="display: inline;" onsubmit="return confirm('Sind Sie sicher?');">
        <input type="hidden" name="_method" value="DELETE">
        <button class="delete" type="submit">löschen</button>
        </form>
        <div class="age">{{item.ttl}} Tag{%- if not item.ttl == 1 -%}e{%- endif -%}</div>
    {%- if 'children' in item -%}
        {{item.download}}<br/>
        <ul>{{ loop(item.children) }}</ul>
    {%- else -%}
        <a href="/{{admin}}{{item.name}}" download="{{item.download}}">{{ item.download }}</a>
    {%- endif %}</li>
{%- endfor %}
</ul>

<div class="droppy">{{ dropzone.create(action="/"+admin+"Dokumente/"+user) }}</div>

{{ dropzone.config() }}
</body>
</html>
